node_modules
.env
coverage
coverage.json
typechain
typechain-types
notes.txt
README.md
deployments
RaffleEther
testTime.js
testSigners.js
testMaxint.js
approveUSDC.js
gas-report-settle.txt
gas_reports0
gas-report-avax-staging.txt
gas-report-eth-staging.txt

#Hardhat files
cache
artifacts

